* {
			box-sizing: border-box;
		}
		html {
			font-size: 18px;
		}
		div {
			padding: 5px 5px 5px 5px;
		}

    h3, h4 {
      display: inline-block;
    }

		.container {
			display:flex;
		}
		.form-sidebar {
			background-color: white;
			flex-grow: 1;
			width: 30%;
			font-size: 1.25rem;
		}
		.main {
			background-color: white;
			flex-grow: 2;
			width: 60%;
		}

		.right {
			background-color: white;
			flex-grow: 1;
			width: 30%;
		}

    .glyphicon {
      padding-left: 40px;
    }